.header {
    position: fixed;
    background-color: black;
    width: 100%;
    padding:10px;
    font-size:large;
    font-style: italic;
    font-weight: bold;
    color: white;
    left:0;
    z-index: 1;
}
.container-fluid{
    background-color: turquoise;
}
.main {
    padding:10% 4%;
}
.QualMeaning {
    margin:10px;
    margin-left: 0px;
    display : inline;
    padding: 5px 5px;
    background-color: blue;
    color:cornsilk;
}
.Qual{
    min-width: 150px;
    margin:10px;
    margin-right: 0px;
    text-align:center;
    display : inline;
    padding: 5px 5px;
    background-color: blue;
    color: cornsilk;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }